@mixin link() {
    border-radius: 10px;
    transition: 0.3s ;
    &:hover {
      padding: 7px;
      // font-size: $size;
    //   background-color: rgb(221, 224, 227);
      background: rgba(198, 212, 220, 0.457);
      transform: scale(102%);
    }
  }