.date-picker {
  float: left;
  width: 47% !important;
}
/deep/.el-input-group__prepend {
  border-radius: 10px;
  // border: 1px solid #647c90 ;
  width: 50px;
  border: 0px;
  color: white;
  background-color: #647c90;
}
/deep/.el-input-group__append {
  border-radius: 0 10px 10px 0;
  // color: #fff;
  border: 0px;
  background-color: #40a0ff00;
}
#search-button {
  border: 1px solid white;
}
/deep/.el-select-dropdown__list {
  border: 10px !important;
}
.el-select-dropdown__item.selected {
  color: #003b55;
}
#advance {
  position: absolute;
  width: 600px;
  margin-top: 20px;
  .el-card {
    border-radius: 20px !important;
    border: none !important;
    box-shadow: 0 0 7px rgba(204, 204, 204, 0.713);
    // background-color: rgba(255, 255, 255, 0.5);
    // backdrop-filter: blur(40px) brightness(100%);
  }
  animation: test 0.3s cubic-bezier(.23,1.38,.65,.99);
}
@keyframes test {
  0% {
    opacity: 0%;
    top:0px;
  }
  100% {
    opacity: 100%;
    top:40px;
  }
}
.but {
  width: 48%;
  border: none;
}
.advsearch {
  margin-top: 3px;
  align-self: center;
  padding: auto;
}