$height: 50px;
#topbar {
  z-index: 100;
  width: 100%;
  height: $height;
  position: fixed;
  transition: 0.3s;
  animation: test 0.3s cubic-bezier(0.23, 1.38, 0.65, 0.99);
}
@keyframes test {
  0% {
    filter: blur(20px);
    opacity: 0%;
    top: -$height;
  }
  100% {
    filter: blur(0px);
    opacity: 100%;
    top: 0px;
  }
}
#bar-content {
  width: max-content;
  margin: 0px auto;
  height: $height;
  background-color: #003b55 !important;
  display: flex;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0 0 7px rgba(204, 204, 204, 0.713);
}
.dark-mode {
  #bar-content {
    // background-color: #fff !important;
  }
}
.logo {
  // background: rgb(255, 255, 255);
  float: left;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
  }
}
.search_input {
  margin: 9px auto 0px auto;
  width: 500px;
  transition: 0.3s;
  padding: auto;
  // overflow: hidden;
}

.search_input:focus {
  background-color: #bddce9 !important;
  // width: 800px;

  // /deep/.el-input-group__prepend {
  //   display: table-cell;
  // }
  // /deep/.advsearch {
  //   display: block;
  // }
}
/deep/.el-input-group__prepend {
  // display: none;
  transition: 0.3s;
}
/deep/.advsearch {
  // display: none;
  transition: 0.8s;
}

#switch {
  width: 50px;
  height: 25px;
  margin: 13px 10px 0px 0px;
  padding: 0;
  border: 1px solid white;
  text-align: center;
}
.el-avatar {
  margin: 5px 5px 0px 10px;
  &:hover {
    cursor: pointer;
  }
}
@keyframes exit_blur {
  0% {
    filter: blur(0px);
    opacity: 100%;
  }
  100% {
    filter: blur(20px);
    opacity: 0%;
  }
}
.notLog {
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 5px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  color: #fff;
  background: #05a1da;
  text-align: center;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 36px;
  &:hover {
    cursor: pointer;
  }
}
