#topbar {
  z-index: 100;
  width: 100%;
  height:60px;
  position: fixed; 
  transition: 0.3s;
  animation: test 0.3s cubic-bezier(.23,1.38,.65,.99);
}
@keyframes test {
  0% {
    filter: blur(20px);
    opacity: 0%;
    top:-60px;
  }
  100% {
    filter: blur(0px);
    opacity: 100%;
    top:0px;
  }
}
#bar-content {
  width: max-content;
  margin: 0px auto;
  height: 60px;
  background-color: #003b55 !important;
  display: flex;
  border-radius: 0px 0px 20px 20px ;
}
.dark-mode {
  #bar-content {
    // background-color: #fff !important;
  }
}
.logo {
  // background: rgb(255, 255, 255);
  float: left;
  transition: 0.3s;
  &:hover {
    cursor: pointer;
  }
}
.search_input {
  margin: 10px auto 0px auto;
  width: 500px;
  transition: 0.3s;
  padding: auto;
  // overflow: hidden;

}
.el-input {
  width: 80px !important;
}
.search_input:focus{
    background-color: #bddce9 !important;
  // width: 800px;
    
    // /deep/.el-input-group__prepend {
    //   display: table-cell;
    // }
    // /deep/.advsearch {
    //   display: block;
    // }
  }
/deep/.el-input-group__prepend {
  // display: none;
  transition: 0.3s;
}
/deep/.advsearch {
  // display: none;
  transition: 0.8s;
}

#switch {
  width: 100px;
  height: 40px;
  margin: 10px 20px 0px 50px;
  border: 1px solid white;
}
.el-avatar {
  margin: 10px 10px 0px 0px;
  &:hover {
    cursor: pointer;
  }
}
@keyframes exit_blur {
  0% {
    filter: blur(0px);
    opacity: 100%;
  }
  100% {
    filter: blur(20px);
    opacity: 0%;
  }
}